{% load static %}
<!DOCTYPE html>
    <html>

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <link rel="shortcut icon" type="image/x-icon" href="{% static 'Application/public/images/icons/favicon.png' %}" />
            <title>Game-Store | Home</title>
            <link rel="stylesheet" href="{% static 'Application/public/css/bootstrap.min.css' %} ">
            <link rel="stylesheet" href="{% static 'Application/public/css/style.css' %} ">
            <link rel="stylesheet" href="{% static 'Application/public/css/sidenav.css' %}" >
            <link rel="stylesheet" href="{% static 'Application/public/fonts/ionicons.min.css' %}">
            <link rel="stylesheet" href="{% static 'Application/public/css/pikaday.min.css' %}">
            <link rel="stylesheet" href="{% static 'Application/public/css/et-lineicons.css' %}">
            <link rel="stylesheet" href="{% static 'Application/public/css/font-awesome.css' %}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        </head>

        <style>
            body{
                font-family: Poppins, 'Nimbus Sans', sans-serif;
            }
        </style>

        <body class="{{ csrf_token }}">
    

            vscode 1115 1658


            <script src="{% static 'Application/public/js/jquery.min.js' %}"></script>
            <script src="{% static 'Application/public/js/jquery-ui.js' %}"></script>
            <script src="{% static 'Application/public/js/bootstrap.min.js'%}"></script>
            <script src="{% static 'Application/public/js/pikaday.min.js' %}"></script>
            <script src="{% static 'Application/public/js/main.js' %}"></script> <!-- Script principale du projet -->
            <script src="{% static 'Application/public/js/theme.js' %}"></script>
            <script src="{% static 'Application/public/js/sidenav.js' %}"></script>

            <!-- Script de scroll-->
            <script src="{% static 'Application/public/js/scroll/scrollIt.min.js' %}"></script>
            <script src="{% static 'Application/public/js/scroll/scripts.js' %}"></script>
        
        </body>
    </html>
